header.light {
  background-color: #2a2a2a;
  color: #aaa;
}

header.dark {
  background-color: #131212;
  color: #525151;
}

nav {
  display: flex;
  justify-content: start;
  gap: 30px;
}
.nav-link {
  text-decoration: none;
  color: inherit;

  color: #aaa;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: none;
  color: #f8e329;
}

header {
  padding: 20px 30px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}

.switch_theme_button {
  align-self: flex-end;
  padding: 12px 25px;
  background-color: #f8e329;
  color: #000;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch_theme_button:hover {
  background-color: #f1cc10;
}
